<div class="navbar">
  <div class="navbar-title">
    <%= link_to "Yabar", root_path %>
  </div>
  <div class="navbar-nav">
    <ul class="nav">
      <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
        <li><span><%= current_user.name %></span></li>
        <li>
          <a rel="leanModal" href="#modal-form"><i class="icono-plus"></i></a>
        </li>
      <% else %>
        <li><%= link_to "facebookでログイン", user_omniauth_authorize_path(:facebook) %></li>
        <li><%= link_to "twitterでログイン", user_omniauth_authorize_path(:twitter) %></li>
      <% end %>
    </ul>
  </div>
  <div id="modal-form" class="modal">
    <%= form_for @task do |f| %>
      <div class="modal-header">
        <h3>タスクを追加</h3>
      </div>
      <div class="task-form">
        <div class="field">
          <label for="">タスク名</label>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <label for="">締切</label>
          <%= f.text_field :deadline, id: 'datepicker' %>
        </div>
        <div class="field">
          <label for="">ヤバさ</label>
          <div id="yabasa-slider">
            <%= f.radio_button :yabasa, 1, checked: true %>
            <label for="1">1</label>
            <%= f.radio_button :yabasa, 2 %>
            <label for="2">2</label>
            <%= f.radio_button :yabasa, 3 %>
            <label for="3">3</label>
            <%= f.radio_button :yabasa, 4 %>
            <label for="4">4</label>
            <%= f.radio_button :yabasa, 5 %>
            <label for="5">5</label>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= f.submit '作成', class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
